<div class="flex flex-column align-items-center justify-content-center">
    <form [formGroup]="fbLeaveStatistics" id="LeaveStatisticsForm" class="w-100">
        <div class="grid mt-3 p-5 content_scroll">
            <div class="col-12 text-center">
                <ng-container *ngIf="currentRoute === '/employee/leaveStatistics'; else otherContent">
                    <p-chip styleClass="pl-0 pr-3 mr-4">
                        <span
                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">{{leaveStatistics?.availableCLs}}</span>
                        <span class="ml-2 font-medium">Available Casual Leaves</span>
                    </p-chip>
                    <p-chip styleClass="pl-0 pr-3">
                        <span
                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">{{leaveStatistics?.availablePLs}}</span>
                        <span class="ml-2 font-medium">Available Privilege Leaves</span>
                    </p-chip>
                </ng-container>
                <ng-template #otherContent>
                    <p-chip styleClass="pl-0 pr-3 mr-4">
                        <span
                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">{{leaveStatistics[0]?.availableCLs}}</span>
                        <span class="ml-2 font-medium">Available Casual Leaves</span>
                    </p-chip>
                    <p-chip styleClass="pl-0 pr-3">
                        <span
                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">{{leaveStatistics[0]?.availablePLs}}</span>
                        <span class="ml-2 font-medium">Available Privilege Leaves</span>
                    </p-chip>
                </ng-template>
            </div>
            <div class="col-12 roles-container">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label>Employee Name: </label>&nbsp;
                        <p-dropdown appendTo="body" [autoDisplayFirst]="false" formControlName="employeeId"
                            autoWidth="false" [options]="employees" optionLabel="employeeName" optionValue="employeeId"
                            [style]="{'width':'100%'}" id="LeaveStatistics_employeeNameDropdown"
                            [ngClass]="{'disabled-button': FormControls['employeeId'].value !== null}"
                            placeholder="Select Employee Name">
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label class="required">Allocated CLs: </label>&nbsp;
                        <p-inputNumber [minFractionDigits]="0" [maxFractionDigits]="1" formControlName="cl"
                            placeholder="Enter Allocated CLs" (keydown)="restrictSpaces($event)"
                            id="LeaveStatisticsAllocatedCLs" [maxlength]="4"
                            [ngClass]="{ 'is-invalid ng-dirty': FormControls['cl'].touched && FormControls['cl'].errors }">
                        </p-inputNumber>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['cl'].touched && FormControls['cl'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['cl'].errors?.['required']">
                                        Please Enter Allocated CLs.</div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label class="required">Allocated PLs: </label>&nbsp;
                        <p-inputNumber [minFractionDigits]="0" [maxFractionDigits]="1" formControlName="pl"
                            placeholder="Enter Allocated PLs" (keydown)="restrictSpaces($event)"
                            id="LeaveStatisticsAllocatedPLs" [maxlength]="4"
                            [ngClass]="{ 'is-invalid ng-dirty': FormControls['pl'].touched && FormControls['pl'].errors }">
                        </p-inputNumber>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span *ngIf="FormControls['pl'].touched && FormControls['pl'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['pl'].errors?.['required']">
                                        Please Enter Allocated PLs.</div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label class="required">Carry Forwarded PLs: </label>&nbsp;
                        <p-inputNumber [minFractionDigits]="0" [maxFractionDigits]="1" formControlName="previousYearPls"
                            placeholder="Enter Carry Forwarded Pls" (keydown)="restrictSpaces($event)"
                            id="LeaveStatistics_CarryforwardedPLs" [maxlength]="4"
                            [ngClass]="{ 'is-invalid ng-dirty': FormControls['previousYearPls'].touched && FormControls['previousYearPls'].errors }">
                        </p-inputNumber>
                        <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                                <span
                                    *ngIf="FormControls['previousYearPls'].touched && FormControls['previousYearPls'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                        *ngIf="FormControls['previousYearPls'].errors?.['required']">
                                        Please Enter Carry Forwarded PLs.</div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class=" footer dialog-footer" *ngIf="permissions?.CanManageLeaveStatistic">
    <button pButton pRipple type="submit" label="Update Leave Statistics" class="p-button-raised p-button-primary"
        id="LeaveStatistics_updateData" [disabled]="fbLeaveStatistics.invalid" (click)="save()"></button>
</div>