<div class="content-container col-12">
    <div class="grid">

        <form class="col-12" [formGroup]="fbChangePassword">
            <div class="col-12 p-0">
                <label for="password" class="block text-900 font-medium text-md required mb-1 mt-5">Password:</label>
                <p-password [toggleMask]="true" id="password" formControlName="password" placeholder="Password"
                    class="w-full md:w-100  mb-2 p-password_cus"
                    pattern="^(?!.* )(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*_=+-.]).{8,25}$" [maxLength]="25"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['password'].touched && FormControls['password'].errors }">
                    <ng-template pTemplate="header">
                        <h6>Pick a password</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="mt-2">Suggestions</p>
                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                            <li>At least one lowercase</li>
                            <li>At least one uppercase</li>
                            <li>At least one special character</li>
                            <li>At least one numeric</li>
                            <li>Minimum 8 characters</li>
                        </ul>
                    </ng-template>
                </p-password>
                <span *ngIf="FormControls['password'].touched && FormControls['password'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['password'].errors?.['required']">
                        Enter Password.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['password'].errors?.['pattern']"> The
                        Password Must be 8 to 25 Characters Long and Include at Least one Lowercase Letter,
                        one Uppercase Letter, One Special Character, and One Numeric Digit.</div>
                </span>
                <label for="confirmPassword" class="block text-900 font-medium text-md required mb-1 mt-2">Confirm
                    Password:</label>
                <p-password [toggleMask]="true" id="confirm-password" formControlName="confirmPassword"
                    formControlName="confirmPassword" placeholder="Confirm Password"
                    class="w-full md:w-100  mb-2 p-password_cus" [feedback]="false"
                    pattern="^(?!.* )(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*_=+-.]).{8,25}$" [maxLength]="25"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['confirmPassword'].touched && FormControls['confirmPassword'].errors }">
                </p-password>
                <span *ngIf="FormControls['confirmPassword'].touched && FormControls['confirmPassword'].invalid">
                    <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['confirmPassword'].errors?.['required'] && FormControls['password'].untouched">
                        Enter Password First.</div>
                    <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['confirmPassword'].errors?.['required'] && FormControls['password'].touched">
                        Enter Confirm Password.</div>
                    <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['confirmPassword'].errors?.['confirmedValidator']">Password and
                        Confirm Password must match.</div>
                </span>
            </div>
            <div class="grid mt-3">
                <div class="col-6"><button id="prev-button" pButton pRipple label="Back to User Name"
                        class="w-full p-3 text-md" (click)="navigateToPrev()"></button></div>
                <div class="col-6"><button id="submit-button" pButton pRipple label="Submit"
                        [disabled]="fbChangePassword.invalid" class="w-full p-3 text-md"
                        (click)="navigateToNext()"></button></div>
            </div>
        </form>

    </div>
</div>










<!-- <button style="float: left" (click)="navigateToPrev()">Navigate to Previous</button>
    <button style="float: right" (click)="navigateToNext()">Navigate to Next</button>
    </div> -->